.fadeOut{
     opacity:0;
     width:0;
     height:0;
     transition: width 0.35s 0.35s, height 0.35s 0.35s, opacity 0.35s;

}
.fadeIn{
     opacity:1;
     width:100px;
     height:100px;
     transition: width 0.35s, height 0.35s, opacity 0.35s 0.35s;

}